.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}
.card__like-content {
  display:flex;
  align-items: center;
  flex-direction: column;
  font-size:13px;
}
